.Table {
  text-align: center;
  border: solid 2px #075684;
  border-collapse: collapse;
}

td,
th {
  border: solid 2px #bbb;
  padding: 1vh;
  position: relative;
}

th {
  border-color: #075684;
  background: #075684;
  padding: 1vh;
  color: white;
  font-weight: 400;
}

tr:nth-child(odd) {
  background: #eee;
}

tr:hover {
  background: #ccc;
}

td button,
td a {
  display: inline-block;
  border: none;
  background: #075684;
  color: white;
  padding: 1em;
  box-sizing: content-box;
  margin: 0 1em;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
  font-size: 14px;
}

td button:hover,
td a:hover {
  background: #044165;
}

td:nth-child(4):after {
  content: "";
  width: 90%;
  position: absolute;
  display: inline-block;
  height: 0.5em;
  left: 5%;
  border-bottom: dotted 5px;
  background: white;
  box-shadow: 0 0.5em 0 0 white;
}

tr:nth-child(odd) td:nth-child(4):after {
  box-shadow: 0 0.5em 0 0 #eee;
  background: #eee;
}

tr:hover td:nth-child(4):after {
  box-shadow: 0 0.5em 0 0 #ccc;
  background: #ccc;
}

tr:active td:nth-child(4):after {
  width: 0;
}